.container{
  margin: 0 auto;
  width: 700px;
  position: relative; 
}

body{
  margin: 0;
  background-color: RGB(0, 176, 240);
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}


#background{
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: white;
}

#me{
  position: fixed;
  width: 100px;
  margin: 376px 295px;
}

#personal_infos{
  width: 150px;
  height: 200px;
  border-color: black;
  position: absolute;
  margin-top: 991px;
  margin-left: 84px
}

#professional_infos{
  width: 150px;
  height: 200px;
  border-color: black;
  position: absolute;
  margin-top: 1388px;
  margin-left: 464px;
}

#hobbies_infos{
  width: 150px;
  height: 200px;
  border-color: black;
  position: absolute;
  margin-top: 1745px;
  margin-left: 84px;
}

.rotate {
  animation: rotation 5s infinite;
}

.fall {
  animation: slide 10s;
}

#blood {
  position: fixed;
  width: 1000px;
  margin-top: 100px;
  display: none;
}

.blood_splash{
  display: block;
}

@keyframes rotation{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
} 

@keyframes slide {
  0% {
    margin-top: 376px;
  }
  100% {
    margin-top: 1000px;
  }
}

